[Unit]
Description=HashiCorp Vault Server - {{ node_name }}
Documentation=https://www.vaultproject.io/docs/
After=network.target

[Service]
User=vault
Group=vault
ExecStart=/usr/bin/vault server -log-level=trace -config={{ config_file }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
StandardOutput=append:{{ log_file }}
StandardError=append:{{ log_file }}
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
